# Compiled class file
*.class

# Maven target folder
target/
dependency-reduced-pom.xml 

#IntelliJ IDEA files
.idea/
*.iml

# VS Code 
.vscode/

# Eclipse
.classpath
.project

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

